<?xml version="1.0"?>
<launch>
 <arg name="namespace" default="Upper_Hand_Axial_Camera"/>
   <node pkg="nodelet" type="nodelet" name="qr_detector"
         args="standalone qr_detector/qr_detector_nodelet">
       <remap from="image" to="/DoubleArmV7/$(arg namespace)/image_raw"/>
   </node>
</launch>
